@font-face {
  font-family: "AlegreyaSansMedium";
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSansSCRegular";
  src: url(../fonts/AlegreyaSansSC-Regular.ttf);
}
@font-face {
  font-family: "Nixie";
  src: url(../fonts/NixieOne-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

h3 {
  font-size: 36px;
}

header {
  background-image: url(../img/pexels-curtis-adams-1694007-3935316.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  max-width: 100%;
  height: 100vh;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;

    .Logo {
      font-family: "AlegreyaSansSCRegular";

      a {
        text-decoration: none;
        color: white;
        font-size: 30px;
      }

      a:hover {
        text-decoration: underline;
        text-decoration-color: white;
      }
    }

    .BurgerMenu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 24px;
      cursor: pointer;

      .line {
        width: 25px;
        height: 4px;
        background-color: white;
        margin: 3px 0;
      }
    }
  }

  h1 {
    font-family: "Nixie";
    font-size: 56px;
    text-align: center;
    padding-top: 5em;
  }

  h2 {
    font-family: "AlegreyaSansSCRegular";
    font-size: 22.4px;
    font-weight: lighter;
    text-align: center;
    color: #ffffffa7;
  }
}

main {
  background-color: #e5e5e5;

  .sectionOne {
    max-width: 100%;
    height: 100vh;

    .LatestWorks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: "AlegreyaSansSCRegular";
      color: #3a4f52;
      padding: 5em 11.1em 3em 10.7em;
    }

    button {
      border: solid 1.5px #3a4f52;
      color: #3a4f52;
      background-color: #e5e5e5;
      padding: 1em 2em 1em 2em;
      font-family: "Roboto";
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #3a4f52;
      color: white;
      cursor: pointer;
    }

    p {
      font-family: "Roboto";
      color: #6a6a6a;
      padding-top: 0.5em;
    }

    .GalleryPartOne {
      display: flex;
      gap: 20px;
      justify-content: center;

      .ImageContainerOne {
        overflow: hidden;
        width: 350px;
        height: 200px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }

        img:hover {
          transform: scale(1.2);
          opacity: 50%;
        }
      }

      .ImageContainerOne:hover {
        background-color: #2f455a;
      }
    }

    .GalleryPartTwo {
      display: flex;
      flex-direction: row;
      gap: 25px;
      padding-top: 25px;
      justify-content: center;
      overflow: hidden;

      .ImageContainerOne {
        overflow: hidden;
        width: 350px;
        height: 200px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }

        img:hover {
          transform: scale(1.2);
          background-color: #2f455a;
          opacity: 50%;
        }
      }

      .ImageContainerOne:hover {
        background-color: #2f455a;
      }
    }
  }

  .OurServiceSection {
    background-image: url(../img/pexels-fotoaibe-1669799.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5em 7em 5em 7em;

    .TransparencyBGOne {
      background-color: rgba(0, 0, 0, 0.411);
      color: white;
      text-align: center;

      h3 {
        padding-top: 0.5em;
      }

      p {
        color: white;
        padding: 2em 0 5em 0;
      }
    }

    .Services {
      display: flex;
      flex-direction: row;
      text-align: center;

      img {
        width: 40px;
        height: 40px;
      }

      h3 {
        font-size: 30px;
        padding-bottom: 0.5em;
      }

      p {
        color: white;
        font-size: 14px;
        padding: 0 2em 5em 2em;
      }
    }
  }

  .Blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "AlegreyaSansSCRegular";
    color: #3a4f52;
    padding: 5em 9.8em 3em 9.5em;

    button {
      border: solid 1.5px #3a4f52;
      color: #3a4f52;
      background-color: #e5e5e5;
      padding: 1em 2em 1em 2em;
      font-family: "Roboto";
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #3a4f52;
      color: white;
      cursor: pointer;
    }
  }
  .BlogPosts {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0 7em 4em 7em;

    img {
      padding-bottom: 2em;
    }

    h3 {
      padding-bottom: 0.5em;
      color: #3a4f52;
    }

    em {
      padding-bottom: 2em;
      color: #3a4f52;
    }

    p {
      padding-bottom: 2em;
      color: #6a6a6a;
      padding-right: 2em;
    }

    a {
      color: #4da7ca;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      text-decoration-color: #4da7ca;
    }
  }

  .QuoteParallax {
    background-image: url(../img/pexels-houzlook-3797991.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 7em 4em 7em;

    .QuoteTransparency {
      background-color: rgba(0, 0, 0, 0.411);
      text-align: center;
      padding: 9em 7em 9em 7em;

      p {
        font-size: 25px;
        color: white;
        padding-bottom: 2em;
      }

      button {
        border: solid 1.5px #ffffff;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        padding: 1em 2em 1em 2em;
        font-family: "Roboto";
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #ffffff;
        color: #6a6a6a;
      }
    }
  }

  .Testimonials {
    text-align: center;
    font-family: "AlegreyaSansSCRegular";
    color: #3a4f52;
    padding: 5em 9.8em 7em 9.5em;

    p {
      color: grey;
    }

    .Workers {
      display: flex;
      flex-direction: row;
      padding: 4em 0 1em 0;

      img {
        padding-bottom: 2em;
      }

      .JohnDoe {
        padding: 0 2em 0 2em;

        .Space {
          padding-bottom: 2em;
        }
      }

      .JaneDoe {
        padding: 0 2em 0 2em;

        .Space {
          padding-bottom: 2em;
        }
      }

      .AlbertDoe {
        padding: 0 2em 0 2em;

        .Space {
          padding-bottom: 2em;
        }
      }
    }
  }

  .Contact {
    background-image: url(../img/pexels-donaldtong94-189293.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 7em 4em 7em;

    h3 {
      padding-bottom: 0.5em;
    }

    p {
      padding-bottom: 3em;
    }

    .Email {
      text-align: center;
      color: white;
      padding-top: 15em;
      background-color: rgba(0, 0, 0, 0.411);
      text-align: center;
      padding: 4em 7em 4em 7em;

      p {
        color: white;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      margin: 0 10em 0 10em;

      input {
        border: solid 1.5px #ffffff;
        border-radius: 5px;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        padding: 1em 2em 1em 2em;
        font-family: "Roboto";
        margin-bottom: 2em;
      }
      input::placeholder {
        text-align: left;
        padding-left: 5px;
        color: white;
      }

      textarea {
        border: solid 1.5px #ffffff;
        border-radius: 5px;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        padding: 1em 2em 1em 2em;
        font-family: "Roboto";
        margin-bottom: 2em;
      }
      textarea::placeholder {
        text-align: left;
        padding-left: 5px;
        color: white;
      }
    }

    button {
      border: solid 1.5px #ffffff;
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0);
      padding: 1em 2em 1em 2em;
      margin: 0 25em 0 25em;
      font-family: "Roboto";
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #ffffff;
      color: grey;
    }
  }
}
footer {
  font-family: "Roboto";
  font-size: smaller;
  color: white;
  background-color: #2f455a;
  padding: 5em 0em 5em 0;

  p {
    margin-left: 7em;
  }
}
