@font-face {
  font-family: "AlegreyaSansMedium";
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSansSCRegular";
  src: url(../fonts/AlegreyaSansSC-Regular.ttf);
}
@font-face {
  font-family: "Nixie";
  src: url(../fonts/NixieOne-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

h3 {
  font-size: 36px;
}

header {
  background-image: url(../img/pexels-curtis-adams-1694007-3935316.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  max-width: 100%;
  height: 100vh;
}
header nav {
  display: flex;
  flex-direction: row;
  padding: 2em;
}
header nav .Logo {
  font-family: "AlegreyaSansSCRegular";
}
header nav .Logo a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
header nav .Logo a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
header h1 {
  font-family: "Nixie";
  font-size: 56px;
  text-align: center;
  padding-top: 5em;
}
header h2 {
  font-family: "AlegreyaSansSCRegular";
  font-size: 22.4px;
  font-weight: lighter;
  text-align: center;
  color: rgba(255, 255, 255, 0.6549019608);
}

main {
  background-color: #e5e5e5;
}
main .sectionOne {
  max-width: 100%;
  height: 100vh;
}
main .sectionOne .LatestWorks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "AlegreyaSansSCRegular";
  color: #3a4f52;
  padding: 5em 9.8em 3em 9.5em;
}
main .sectionOne button {
  border: solid 1.5px #3a4f52;
  color: #3a4f52;
  background-color: #e5e5e5;
  padding: 1em 2em 1em 2em;
  font-family: "Roboto";
}
main .sectionOne button:hover {
  background-color: #3a4f52;
  color: white;
}
main .sectionOne p {
  font-family: "Roboto";
  color: #6a6a6a;
  padding-top: 0.5em;
}
main .sectionOne .GalleryPartOne {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  overflow: hidden;
}
main .sectionOne .GalleryPartOne img {
  transition: transform 0.5s ease;
  overflow: hidden;
}
main .sectionOne .GalleryPartOne img:hover {
  transform: scale(1.5);
}
main .sectionOne .GalleryPartTwo {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-top: 25px;
  justify-content: center;
  overflow: hidden;
}
main .sectionOne .GalleryPartTwo img {
  transition: transform 0.5s ease;
  overflow: hidden;
}
main .sectionOne .GalleryPartTwo img:hover {
  transform: scale(1.5);
}
main .OurServiceSection {
  background-image: url(../img/pexels-fotoaibe-1669799.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5em 7em 5em 7em;
}
main .OurServiceSection .TransparencyBGOne {
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  text-align: center;
}
main .OurServiceSection .TransparencyBGOne h3 {
  padding-top: 0.5em;
}
main .OurServiceSection .TransparencyBGOne p {
  color: white;
  padding: 2em 0 5em 0;
}
main .OurServiceSection .Services {
  display: flex;
  flex-direction: row;
  text-align: center;
}
main .OurServiceSection .Services img {
  width: 40px;
  height: 40px;
}
main .OurServiceSection .Services h3 {
  font-size: 30px;
  padding-bottom: 0.5em;
}
main .OurServiceSection .Services p {
  color: white;
  font-size: 14px;
  padding: 0 2em 5em 2em;
}
main .Blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "AlegreyaSansSCRegular";
  color: #3a4f52;
  padding: 5em 9.8em 3em 9.5em;
}
main .Blog button {
  border: solid 1.5px #3a4f52;
  color: #3a4f52;
  background-color: #e5e5e5;
  padding: 1em 2em 1em 2em;
  font-family: "Roboto";
}
main .Blog button:hover {
  background-color: #3a4f52;
  color: white;
}
main .BlogPosts {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0 7em 4em 7em;
}
main .BlogPosts img {
  padding-bottom: 2em;
}
main .BlogPosts h3 {
  padding-bottom: 0.5em;
  color: #3a4f52;
}
main .BlogPosts em {
  padding-bottom: 2em;
  color: #3a4f52;
}
main .BlogPosts p {
  padding-bottom: 2em;
  color: #6a6a6a;
  padding-right: 2em;
}
main .BlogPosts a {
  color: #4da7ca;
  text-decoration: none;
}
main .BlogPosts a:hover {
  text-decoration: underline;
  text-decoration-color: #4da7ca;
}
main .QuoteParallax {
  background-image: url(../img/pexels-houzlook-3797991.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 7em 4em 7em;
}
main .QuoteParallax .QuoteTransparency {
  background-color: rgba(0, 0, 0, 0.411);
  text-align: center;
  padding: 9em 7em 9em 7em;
}
main .QuoteParallax .QuoteTransparency p {
  font-size: 25px;
  color: white;
  padding-bottom: 2em;
}
main .QuoteParallax .QuoteTransparency button {
  border: solid 1.5px #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 1em 2em 1em 2em;
  font-family: "Roboto";
}
main .QuoteParallax .QuoteTransparency button:hover {
  background-color: #ffffff;
  color: #6a6a6a;
}
main .Testimonials {
  text-align: center;
  font-family: "AlegreyaSansSCRegular";
  color: #3a4f52;
  padding: 5em 9.8em 2em 9.5em;
}
main .Testimonials p {
  color: grey;
}
main .Testimonials .Workers {
  display: flex;
  flex-direction: row;
  padding: 7em 0 3em 0;
}
main .Testimonials .Workers img {
  padding-bottom: 2em;
}
main .Testimonials .Workers .JohnDoe {
  padding: 0 2em 0 2em;
}
main .Testimonials .Workers .JaneDoe {
  padding: 0 2em 0 2em;
}
main .Testimonials .Workers .AlbertDoe {
  padding: 0 2em 0 2em;
}
main .Contact {
  background-image: url(../img/pexels-donaldtong94-189293.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 7em 4em 7em;
}
main .Contact h3 {
  padding-bottom: 0.5em;
}
main .Contact p {
  padding-bottom: 3em;
}
main .Contact .Email {
  text-align: center;
  color: white;
  padding-top: 15em;
  background-color: rgba(0, 0, 0, 0.411);
  text-align: center;
  padding: 4em 7em 4em 7em;
}
main .Contact .Email p {
  color: white;
}
main .Contact form {
  display: flex;
  flex-direction: column;
}
main .Contact form input {
  border: solid 1.5px #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 1em 15em 1em 15em;
  font-family: "Roboto";
  margin-bottom: 2em;
}
main .Contact form input::placeholder {
  color: white;
}
main .Contact button {
  border: solid 1.5px #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 1em 2em 1em 2em;
  font-family: "Roboto";
}
main .Contact button:hover {
  background-color: #ffffff;
  color: grey;
}

footer {
  font-family: "Roboto";
  font-size: smaller;
  color: white;
  background-color: #2f455a;
  padding: 5em 0em 5em 0;
}
footer p {
  margin-left: 7em;
}/*# sourceMappingURL=main.css.map */