@font-face {
  font-family: "AlegreyaSansMedium";
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSansSCRegular";
  src: url(../fonts/AlegreyaSansSC-Regular.ttf);
}
@font-face {
  font-family: "Nixie";
  src: url(../fonts/NixieOne-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

header {
  background-image: url(../assets/img/div#header.png);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  max-width: 100%;
  height: 100vh;

  nav {
    display: flex;
    flex-direction: row;
    padding: 2em;

    .Logo {
      font-family: "Nixie";
      font-weight: bolder;
      font-size: 20px;
      text-transform: capitalize;
    }
  }

  h1 {
    font-family: "Nixie";
    font-size: 56px;
    text-align: center;
    padding-top: 5em;
  }
  h2 {
    font-family: "AlegreyaSansSCRegular";
    font-size: 22.4px;
    font-weight: lighter;
    text-align: center;
  }
}

main {
  background-color: #e5e5e5;

  section {
    max-width: 100%;
    height: 100vh;

    .LatestWorks {
      padding-top: 5em;
      color: #3a4f52;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      border: solid 1.5px #3a4f52;
      color: #3a4f52;
      background-color: #e5e5e5;
      padding: 1em 2em 1em 2em;
    }

    p {
      color: #6a6a6a;
    }

    .GalleryPartOne {
      display: flex;
      flex-direction: row;
      gap: 25px;
      justify-content: center;
    }
    .GalleryPartTwo {
      display: flex;
      flex-direction: row;
      gap: 25px;
      padding-top: 25px;
      justify-content: center;
    }
  }
}
